/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@import "tailwindcss-primeui";
@import '../src/styles/variables.css';
@import '../src/styles/typography.css';
@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: var(--content-border-radius);
}